:root {
  --primary-bg: #ffffff;
  --primary-text: #000000;
  --secondary-text: #4f4f4f;
  --accent-color: #1e88e5; /* Blue for buttons */
}

body.dark-mode {
  --primary-bg: #121212;
  --primary-text: #ffffff;
  --secondary-text: #b0b0b0;
  --accent-color: #4caf50; /* Green for buttons in dark mode */
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

button {
  background-color: var(--accent-color);
  color: var(--primary-text);
}

/* Additional styling for form elements, headers, etc. */
form {
  margin: 20px;
}

select, input, textarea {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.formation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: grid;
  grid-template-columns: repeat(4, 100px); /* Customize this for your formation */
  grid-gap: 20px;
}

.player-list {
  display: flex;
  margin-bottom: 20px;
}

.player {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: grab;
}

.position {
  width: 100px;
  height: 100px;
  border: 2px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jersey {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
}


canvas {
  max-width: 100%;
}

/* For mobile devices */
@media (max-width: 768px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    padding: 8px;
    text-align: left;
    display: block;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    margin-bottom: 15px;
    display: block;
    border-bottom: 2px solid #ddd;
  }
}

/* For tablets and above */
@media (min-width: 769px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    padding: 8px;
    text-align: left;
  }

  table tbody tr {
    border-bottom: 1px solid #ddd;
  }
}
