<label for="tournament">Choose Tournament:</label>
<select (change)="onTournamentSelectChange($event)">
  <option *ngFor="let tournament of tournaments" [value]="tournament.id">{{tournament.name}}</option>
</select>

<div *ngIf="leaderboard.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Matches Played</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of leaderboard">
        <td>{{ team.name }}</td>
        <td>{{ team.matches_played }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.points }}</td>
      </tr>
    </tbody>
  </table>
   <!-- Pagination Controls -->
  <nav aria-label="Leaderboard Pagination">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === getMaxPages()">
        <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
